<%- include('partials/head') %>

<div class="container">
  <h1>Welcome to the cats route!</h1>

  <h2>Cats list:</h2>
  <ul>
    <% for( let cat of cats) { %>
    <li><%= cat %> </li>
    <% } %>
  </ul>
</div>

<%- include('partials/foot') %>
